body {
    max-width: 1366px;
    min-width: 1024px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0 4px 8px lightgrey;
}

#site_title {
    margin-left: 20px;
}

#login_text {
    text-align: right;
    margin-right: 20px;
}

main {
    max-width: 70%;
    margin: 0 auto;
}

#form_section {
    margin-top: 50px;
}

#form_section label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: initial;
}

#title_input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid;
}

#content_input {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;
}

#add_button {
    float: right;
    background-color: turquoise;
    padding: 10px;
    width: 14%;
    color: white;
    font-size: larger;
    border: transparent;
    border-radius: 10px;
}

#my_todostext {
    margin-top: 120px;
}

#todo_section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

.todo_cards {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 20px lightblue;
    padding: 30px;
}

.complete_button {
    float: right;
    background-color: turquoise;
    color: white;
    border: transparent;
    border-radius: 10px;
    padding: 10px;
}